<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MuseAI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDA004B823E4ECDA0030480B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDA004CE23E4ECDC0030480B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDA004D923E4ECDC0030480B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
